.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.logo mat-icon {
  font-size: 24px; /* Icon size */
  margin-right: 8px; /* Space between icon and text */
}

.mat-toolbar .spacer {
  flex: 1;
}
