<div class="home-container">
  <h1 class="main-title">Welcome to ChrisLab!</h1>
  <p class="intro-text">
    ChrisLab is a collection of fun and interactive tools designed to help you
    with everyday tasks, keep you entertained, and maybe even make you laugh!
  </p>

  <div class="feature-container">
    <app-card
      *ngFor="let feature of features"
      [title]="feature.title"
      [description]="feature.description"
      [link]="feature.link"
      [icon]="feature.icon">
    </app-card>
  </div>
</div>
